@charset "utf-8";
/* CSS Document */


*{
	margin:0px;
	padding:0px;
}
div{
	overflow: hidden;
}
img{margin:0px; padding:0px; border:0px;}
body{
	font-size:12px;
	color:#676767;
	font-family: "Microsoft YaHei","微软雅黑","宋体";
	background-color: #f0f8ff;
 }
table{margin:0px auto;text-align:left;overflow: hidden;
}

.left{margin-left:0px;
}
.right{margin-right:0px;
}
.color1{color:#ad0001;
}
.color2{color:#dc0000;
}
.f12{
	color:#5c5c5c;
	font-family: Arial, Helvetica, sans-serif;
}
.f121{color:#3d3d3d;
}
.f14{color:#fff;font-size:14px;font-weight: bold;
}
.f16{color:#1d1d1d;font-size:16px;font-family: "Microsoft YaHei", "微软雅黑", "宋体";
}
.f161{color:#fff;font-size:16px;font-family: "Microsoft YaHei", "微软雅黑", "宋体";
}
.f162{color:#3a3a3a;font-size:16px;
}
.f22{
	font-family: "Microsoft YaHei", "微软雅黑", "宋体";
	color:#cd0000;
	font-size:22px;letter-spacing:1px;
}
.link1 A{
	font-size:14px;
	text-decoration: none;
	color:#fff;
	font-weight: bold;
} 
.link1 A:hover{font-size:14px;
	text-decoration: none;
	color:#fff;font-weight: bold;
}
.link2 A{
	text-decoration: none;
	color:#575757;
} 
.link2 A:hover{
	text-decoration: none;
	color:#c80000;
}
.link3 A{font-size:14px;
	text-decoration: none;
	color:#3a3a3a;
} 
.link3 A:hover{font-size:14px;
	text-decoration: none;
	color:#c80000;
}
.space1{margin-top:1px;
}
.space2{margin-top:2px;
}
.space3{margin-top:3px;
}
.space4{margin-top:4px;
}
.space5{margin-top:5px;
}
.space6{margin-top:6px;
}
.space7{margin-top:7px;
}
.space8{margin-top:8px;
}
.space9{margin-top:9px;
}
.space10{margin-top:10px;
}
.space11{margin-top:11px;
}
.space12{margin-top:12px;
}
.space13{margin-top:13px;
}
.space15{margin-top:15px;
}
.space16{margin-top:16px;
}
.space19{margin-top:19px;
}
.space20{margin-top:20px;
}
.space22{margin-top:22px;
}

.tab1{ border:1px solid #dfdfdf;
}
.tab2{ border-top:5px solid #2c87f0;
}
.tab3{ border:1px solid #dbd8d6;
}
.tab4{ border-bottom:1px dashed #cbcbcb;
}
.line1{line-height:22px;
}
.line2{line-height:18px;
}
.line3{line-height:30px;
}
.input1{
	height:18px;
	line-height:18px;
	border:1px solid #b2b9c9;
	color:#777777;
	background-color: #FFFFFF;
}
.input2{
	height:20px;width:185px;
	line-height:20px;
	color:#5c5c5c;
}